.mychild
{
    color:red;
    height: 400px;
    background-color: aqua;
    border:1px solid red;
}

.box
{
    padding:50px;
    background-color:gray;
    border: 1px solid black;
    margin:10px;
    border-radius: 30px;
    color:white;
}

.cusdesign
{
    border:1p solid gray;
    display: flex;
    height:500px;
}
.cusdesign>section
{
    border:1px solid gray;
    padding:20px;
    flex:1;
}